<html>
  <head>
    <style>
      body {
        font-family: Arial, Helvetica, sans-serif
      }
    </style>
  </head>

  <body>
    <strong> Olá, {{ buyer.name }} </strong>
    <p>Sua compra para o produto {{ ad.title}} foi aceita. Parabéns!</p>
    <br>
    <strong>{{ ad.author.name }} ({{ ad.author.email }})</strong>
    <p>{{ content }}</p>
  </body>
</html>